:root{
    color-scheme: dark;
}

body{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url(/imagem/);
}

h1{
    margin: 40px 0 10px;
    font-style: italic;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(129, 150, 189);
}

h2{
    color: gray;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container{
    font-size: 40px;
}

.card{
	font-size: 25px;
	max-width: 500rem;
	border-radius: 40px;
	box-shadow: 0 0 3rem 1rem rgba(59, 167, 222, 0.2);
	text-align: center;
	width: 90px;
	margin: 0 auto;
	min-width: 500px;
	max-width: 1280px;
	padding-top: 5px;
	padding-bottom: 7px;
    background-color: transparent;
    color: black;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: goldenrod;
    font-style: italic;
}

.estilo{
    font-size: 24px;
    background-color: white;
    border-radius: 40px;
    color: black;
}

a{
    color: blueviolet;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

@media only screen and (max-device-width: 900px) {
    .menu { width:100%; } 
}
