:root{
    color-scheme: dark;
}

body{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url(backgroundc);
}

h1{
    margin: 40px 0 10px;
    font-style: italic;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aquamarine;
}

#container{
    font-size: 40px;
}

.card{
	font-size: 25px;
	max-width: 500rem;
	border-radius: 40px;
	box-shadow: 0 0 3rem 1rem rgba(59, 167, 222, 0.2);
	text-align: center;
	width: 90px;
	margin: 0 auto;
	min-width: 500px;
	max-width: 1280px;
	padding-top: 5px;
	padding-bottom: 7px;
    background-color: blueviolet;
    color: black;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: wheat;
    font-style: italic;
}